html, body{
    width: 100vw;
    height: 100vh;
    background-color: lightcyan;
}
.radioInput{
    appearance:none;
    display: none;
}

.radioInput, .radioLabel, .form-check-inline{
    padding: 0px;
    margin: 0px;
}
.form-check{
    padding:5px;
    margin:5px;
}
.radioContainer{
    font-weight: bold;
    font-size: 12px;
    background-color: gray;
    width: fit-content;
    margin: auto;
    padding: 0px;
    border-radius: 50px;
    box-sizing: border-box;
}
.radioLabel{
    box-sizing: border-box;
    padding: 10px 20px;
}

.radioInput:checked+.radioLabel {
    
    background-color: white;
    border-radius: 50px;
    color: black;
}

.card{
    width: 22rem;
    margin:10px;
}