html,body{
    padding:0px;
    margin:0px;
    background-color:gray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.userImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px white solid;
}

.mainCard{
    max-width: 600px;
    background-color: white;
}